<div class="container">
    <h1>Add New Teacher Detalis</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              ngModel
              name="name"
              required>
          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
          <div class="form-group">
            <label for="phone">Phone Num</label>
          <input
          type="tel"
          id="phone"
          class="form-control"
          ngModel
          name="phone"
          pattern="^\d{10}$"
          required
          phone
          #phone="ngModel">
          <span class="help-block" *ngIf="!phone.valid && phone.touched">Please enter a valid phone num!</span>
          </div>

        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
        <div class="form-group">
          <label for="course">Courses</label>
          <select
            id="course"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="course">
            <option value="ds">Data Structure</option>
            <option value="angular">Angular</option>
            <option value="python">Python</option>
            <option value="bootstrap">Bootstrap</option>
          </select>
        </div>        
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required>
             {{ gender }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          >Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Name: {{ user.name }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Phone: {{user.phone}}</p>
      <p>Course: {{ user.course }}</p>
      
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
